*{
    margin: 0px;
    padding: 0px;
}

body{
    padding-top: 70px;
}

.nav-item{
    margin: auto 1.5vh;
    font-size: x-large;
    font-style: italic;
}

.row-form{
    margin: 2vh;
    padding: 0px;
}

.row-head{
    margin: auto;
}

.fa-star{
    color:brown;
}

header {
    padding: 2vh 0vh;
    background-color: beige;
}

.btn :hover {
    transform: scale(1.01);
    transition: transform 300ms ease;
}

.container{
    margin-bottom: 170px;
}

.container_custom{
    padding-top: 5vh;
    background-color: rgba(169, 154, 162, 0.8); 
}

.row-card{
    justify-content: space-between;
}

.row-card-in{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border: none;
    margin: auto;
    margin-bottom: 3vh;
    max-width: 80%;
    transition: transform 400ms ease;
}

.card:hover{
    transform: scale(1.03);
}

.card-img{
    object-fit: cover;
}

@media (max-width: 1160px) {
    .card-text{
        display: none;
    }
}

.modal-body{
    background-color: rosybrown;
    font-size: 1.2em;
    min-height: 20vh;
}

footer h6{
    padding: 1vh 0vh 0.5vh 0vh;
}

.footer-row{
    margin: 2vh 0vh 4vh 0vh;
    text-align: center;
    padding: 0px;
}

.checkbox{
    transform: scale(3.5);
}

.footer-row a{
    padding: 0px;
}

/* background-color: rgba(169, 154, 162, 0.8);  */