*{
    margin: 0px;
    padding: 0px;
}

body{
    padding-top: 70px;
    background-color: rgb(155, 163, 235);
}

@media (min-width: 575px){
    nav{
        max-height: 85px;
    }
    .nav-item{
        max-height: 80px;
    }
    @media (max-width: 700px){
        nav div ul li .fa-lg{
            font-size: 0.875em;
        }
    }
}

.bg-custom{
    background-color: rgb(36, 47, 155);
    /* background-color: rgba(54, 49, 52, 0.98); */
}

.nav-item{
    margin: auto 1.5vh;
    font-size: x-large;
    font-weight: bold;
}

.p-carousel{
    padding-top: 0.03rem;
    object-fit: cover;
    /* height: 100vh; */
}

.i-carousel{
    object-fit: cover;
    height: 75vh;
}

.carousel-caption{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(78,78,78,0.68) 30%, rgba(28,28,28,0.68) 50%, rgba(78,78,78,0.68) 70%, rgba(255,255,255,0) 100%);
}
.row-form{
    margin: 2vh;
    padding: 0px;
}

.row-head{
    margin: auto;
    padding: 2vh 0;
}

.fa-star{
    color: rgb(36, 47, 155);
}

header {
    padding: 2vh 0vh;
    background-color: rgb(100, 111, 212);
}

footer{
    background-color: rgb(36, 47, 155);
    position: absolute;
    color: rgb(236, 229, 229);
}

.btn :hover {
    transform: scale(1.01);
    transition: transform 100ms ease;
}

.container{
    margin-bottom: 170px;
}

.container_custom{
    color: wheat;
    padding-top: 5vh;
    background-color: rgb(100, 111, 212); 
}

.row-card{
    justify-content: space-between;
}

.row-card-in{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    border: none;
    margin: auto;
    margin-bottom: 3vh;
    max-width: 90%;
    transition: transform 400ms ease;
}

.card:hover{
    transform: scale(1.03);
}

.card-img{
    object-fit: cover;
}

@media (max-width: 1160px) {
    .card-text{
        display: none;
    }
}

.modal-body{
    background-color: rosybrown;
    font-size: 1.2em;
    min-height: 20vh;
}

footer h6{
    padding: 1vh 0vh 0.5vh 0vh;
}

.footer-row{
    margin: 2vh 0vh 4vh 0vh;
    text-align: center;
    padding: 0px;
}

.checkbox{
    transform: scale(3.5);
}

.footer-row a{
    padding: 0px;
}
.footer-row .social{
    color: rgb(219, 223, 253);
}

.social:hover{
    transition: all 200ms ease;
    transform: scale(1.1) rotate(-4deg);
}

.fa-twitter:hover{
    color:#00acee;
}

.fa-youtube-play:hover{
    color:#FF0000;
}

.fa-facebook:hover{
    color:#3b5998;
}

.fa-google-plus-official:hover{
    color:#db4a39;
}

/* background-color: rgba(169, 154, 162, 0.8);  */