<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        body{
            min-height: 100vh;
        }

        .order-div{
            display: flex;
            justify-content: space-around;
        }

        .text-center{
            text-align: center;
        }
        
        footer{
            position: absolute;
            width: 100%;
            bottom: 2vh;
        }

        footer h4{
            text-align: center;
        }

        .d-flex{
            display: flex;
        }

        .justify-content-center{
            justify-content: center;
        }

        .align-items-center{
            align-items: center;
        }
    </style>
</head>
<body>
    <section class="all-orders">
        <%if(orders.length>0){%>
            <%orders.forEach(order=>{%>
                <%if(order.isComplete==0){%>
                    <div class="order-div">
                        <p>Order ID:</p>
                        <p><%=order.id%></p>
                        <p>Cost: </p>
                        <p><%=(order.cost)*1.05%><br></p>
                    </div>
                    <%order.isComplete=1%>
                <%}%>
            <%})%>
        <%}%> 
    </section>
    <footer>
        <h4>Copyright &copy; AbsoluteZero</h4>
    </footer>
</body>
</html>
