<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
        body{
            margin: 0;
            padding: 0;
            min-height: 100vh;
            background-color: rgba(135, 128, 94,0.7);
            font-family: 'Inter', sans-serif;
            text-align: left;
        }

        .order-div{
            display: flex;
            justify-content: space-around;
            border: 0.1rem solid black;
            /* height: 2.5rem; */
            padding: 1rem ;
            margin-top: 2vh;
            margin-left: 2vh;
            margin-right: 2vh;
            border-radius: 0.5rem;
            font-size: large;
            align-items: center;
            background-color: rgba(1,1,1,0.17)
        }

        .text-center{
            text-align: center;
        }
        
        footer{
            position:fixed;
            bottom:0rem;
            background-color: rgb(83, 78, 57);
            width: 100%;
            color: rgb(255, 255, 255);
        }

        footer h4{
            text-align: center;
            font-size: large;
            font-weight: bolder;
        }

        .d-flex{
            display: flex;
        }

        .justify-content-center{
            justify-content: center;
        }

        .finish{
            background-color: rgb(237, 223, 179);
            font-weight: bold;
            border-radius: 1rem;
            padding: 0.4rem;
        }

        .align-items-center{
            align-items: center;
        }

        .finish:hover{
            transition: all 200ms ease;
            transform: scale(1.3) rotate(0deg);
        }
    </style>
</head>
<body>
    <section class="all-orders">
        <%if(orders.length>0){%>
            <%orders.forEach(order=>{%>
                <div class="order-div">
                    <div>Order ID:</div>
                    <div><%=order.id%></div>
                    <div>Cost: </div>
                    <div><%=(order.cost)*1.05%></div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="finish" id="<%=order.id%>" onclick="orderComp(this)">Order Completed</button>
                    </div>
                </div>
                <br>
            <%})%>
        <%}%> 
    </section>
    <footer>
        <h4>Copyright &copy; AbsoluteZero</h4>
    </footer>
    <script>
        const orderComp=(btn)=>{
            console.log(btn.id)
            const value = btn.id;
            console.log(JSON.stringify({id:value}))
            fetch('http://localhost:3000/completed',{
                method : "POST",
                headers: {
                    'Content-Type' : 'application/json' 
                },
                body: JSON.stringify({id:value})
            })
            .then(res => {
                return res.json();
            })
        }
    </script>
</body>
</html>
